*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    background-image: url("../img/medica.png");
    background-repeat: no-repeat;
    background-size: 960px;
    background-position: right center;
}