*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}


nav img{
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

nav {
  background-color: #FF6366;
  margin-bottom: 50px;
  font-weight: bolder;
}

nav a:hover {
  color: white;
  text-decoration: none;

}

.table th {
  border-top: none;
}

.input-pesquisar {
  width: 40vw;
  margin-bottom: 40px;

}

.btn-pesquisar {
  margin-top: 20px;
  margin-left: 10px;
  position: absolute;
  height: 35px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #FF6366, rgb(238, 137, 139), #FF6366);
	background-size: 200%;
	font-size: 1rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
  transition: .5s;
  text-align: center;
}

.btn:hover{
  background-position: right;
  color: white;
}

.remove {
  margin-top: 20px;
  margin-left: 10px;
  height: 35px;
	border-radius: 10px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, rgb(233, 66, 68), rgb(238, 137, 139), rgb(233, 66, 68));
	background-size: 200%;
	font-size: 1rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
  transition: .5s;
  text-align: center;
}

.btn-edit {
  margin-top: 20px;
  margin-left: 10px;
  height: 35px;
	border-radius: 10px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, rgb(79, 143, 103), rgb(108, 197, 142), rgb(79, 143, 103));
	background-size: 200%;
	font-size: 1rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
  transition: .5s;
  text-align: center;
}

.input-add{
  width: 80vw;
}


.sair {
  margin-right: 20px;
}

