*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.container{
    padding-top: 40px
}

::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
 }
table {
    border-spacing: 5px;
}

select{
    display: block;
    max-width: 800px;
    margin: 2px auto 10px auto;
}

textarea{
    max-width: 800px;
    margin: 2px auto 300px auto;
    height: 60px;
  
}


label{
    font-family: Indie Flower, serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-style: oblique;
    font-size: 20px;
}

th{
    color: rgb(77, 30, 30);
}



p{
    color: black;
    font-size: 25px;
}

.table-ficha{
    background-color: rgb(194, 182, 182, 0.5);
    border-radius: 10px;
}

.opcoes-ficha{
    position: relative;
    margin-right: 0;
}