*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url("../img/fundo-home.jpg");
    background-repeat: no-repeat; 
    background-position: top center;
    background-color: rgb(233, 233, 233);


    
}

.principal{
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
  border-radius: 6px;
  box-shadow: 3px 5px 10px;
  max-width: 900px;
  margin: 600px auto 300px auto;



   
}

img{
  max-width: 30px;
}

.principal{
    background-color: honeydew;
}

.sobre-oftalmo, .about-us, .contato{
  border: 1px solid black;
  padding: 7px;
  background-color: rgb(0, 0,0, .05);
  background-color: rgb(238, 238, 238)


}

.about-us{
  background-color: rgb(228, 228, 228);
}

.titulo{
  font-size: 21px;
  color: rgb(224, 119, 119);
  position: relative;
  top: -0.5em;
  padding: 5px 10px;
}

.alinha-texto{
  display: flex;
}

p{
  text-align: justify;
  tex
}