*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url("../img/medicos.png");
    background-size: 910px;
    background-repeat: no-repeat; 
    background-position: top center;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}


nav {
  background-color: #FF6366;
  margin-bottom: 50px;
  font-weight: bolder;
}

nav a:hover {
  color: white;
  text-decoration: none;

}

.sair {
  margin-right: 20px;
}

.left {
  margin-right: 20px;
  margin-left: 20px;
}

.logo{
  width: 80px;
  height: 80px;
}


.principal{
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
  border-radius: 6px;
  max-width: 900px;
  margin:20px auto 300px auto;
  grid-gap:20px

}

img{
  max-width: 140px;
}


.sobre-oftalmo, .about-us, .contato{
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
  background-color: rgb(0, 0,0, .05);
  background-color: rgb(238, 238, 238);
  box-shadow: 3px 5px 10px;


}

.about-us{
  background-color: rgb(228, 228, 228);
}

.texto-logo{
 margin-left: 130px;
 display: flex;
 align-items: center;
}

.texto-logo >span {
  font-weight: bolder;
  color: brown;
  font-style: oblique;
  font-size: 70px;
  margin-left: 20px;
}

.text  p{
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-left: 20vh;
}

.titulo{
  font-size: 21px;
  color: #FF6366;
  position: relative;
  top: -0.5em;
  padding: 5px 10px;
}

.alinha-texto{
  display: flex;
}

p{
  text-align: justify;

}

.container-ficha{
  background-color: rgb(0, 0,0, .05);
}

.row{
  max-width: 900px;
  display: block;
}



.texto-observacoes{
  padding: 8px;
  display: flex;
}

.dados-adicionar{
  background-color: rgb(0, 0,0, .05);
}

.text-add {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  margin-top: 4px;
  font-size: 14px;
}

.receita {
  margin-left: 18vh;
}