{% extends "layout.njk" %}

{% block content %}

<div id="wrapper">
  <img src="https://avatars1.githubusercontent.com/u/51254280?s=460&u=40ebeea1c91f76cab019e62c6019acf1fc17f18f&v=4" alt="Karlos Silva">
  <h1>TYESTED</h1>
  <h2>Estudante de Engenharia de Software</h2>
  <p>Programador Iniciante, buscando conhecimento. Fazendo o curso Launch-Base da <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a></p>
</div>

<div id="links-footer"class="links">
  <a href="https://github.com/karlos-silva/" target="_blank">GitHub</a>
  <a href="https://twitter.com/oliveirakarlos_/" target="_blank">Twitter</a>
  <a href="https://www.linkedin.com/in/karlossilva/" target="_blank">LinkedIn</a>
</div>

{% endblock %}